html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    font-family: 'montserrat';
}

.obrazovka {
    height: 1600px;
    width: 500px;
    border:2px solid #d8d4d4;
    margin-left: 20px;
}

.foto
    {
    text-align: center;
    
}

.traveler {
    width: 350px;
    height: 290px;
}

.uvod {
    text-align: center;
    margin-top: 40px;
}

.nadpis1 {
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
    
}

.carka {
    background-color: #407BFF;
    width: 60px;
    height: 2px;
    display:block;
    margin: 0 220px 0 220px;
}

.odstavec1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tlacitka {
    padding: 0;
    list-style-type: none;
}

.dobrodruzstvi {
    background-color: #407BFF;
    color: white;  
    margin: 0 152px 0 152px;
   
}

.pohoda {
   background-color: #8B8B8B;
   color: white;
   margin: 10px 140px 0 140px;
}

.tlacitko {
    display: block;
    padding: 10px 0 10px 0;
    border-radius: 20px;
 }


 .nadpis2,
 .nadpis3 {
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 15px;
 }

.odstavec1,
.odstavec2,
.odstavec3 {
    color:#8B8B8B;
    font-size: 16px;
    margin-left:20px;
    margin-right: 20px;
}

.obsah1,
.obsah2 {
    text-align: center;
}

.seznam2,
.seznam3 {
    list-style-type: none;
    padding: 0;
}

.obdelnik {
    display:flex;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.3);
    font-size: 13px;
    color:#8B8B8B;
    padding: 20px 20px 20px 20px;
}

.mapa,
.palma {
    margin: 28px 20px 15px 20px;
}

.kaktus,
.destnik {
    margin: 15px 20px 15px 20px;
}

.letadlo,
.karavan {
    margin: 15px 20px 60px 20px;
}
.odstavec{
    margin-left: 20px;
}


@media screen and (min-width: 640px)
{
    .obrazovka {
        width: 770px;
        border:2px solid #d8d4d4;
        margin-left: 20px;
    }

    .traveler {
        width: 400px;
        height: auto;
    }

    .carka {
        margin: 0 355px 0 355px;
    }

    .odstavec1,
    .odstavec2,
    .odstavec3{
        margin-left: 109px;
        margin-right: 109px;   
    }
    .odstavec2,
    .odstavec3 {
        margin-bottom: 40px;
    }
    .tlacitka{
        display:flex;
    }
    .dobrodruzstvi {
        width:195px;
        margin: 0 0 0 166px;
    }

    .pohoda {
        width:220px;
        margin: 0 167px 0 20px;
    }
    .nadpis2,
    .nadpis3 {
        margin-top: 80px;
        margin-bottom: 17px;
    }

    .seznam2,
    .seznam3 {
        display: flex;
        margin:0;
        height: 172px;
        width: 230px;
    }
    .imgmapa,
    .imgletadlo {
        width: 45px;
        height: 40px;
    }
    .imgkaktus {
        width: 40px;
        height: 40px;        
    }
    .imgpalma,
    .imgdestnik,
    .imgkaravan {
        width: 50px;
        height: 40px;
    }

    .obdelnik {
        /*padding:40px 15px 0px 20px;*/
        width: 230px;
        height: 172px;
        display: block;
        padding-TOP: 40px;
    }
    .mapa,
    .palma {
        margin:0 20px 0px 20px;
    }
    .kaktus,
    .letadlo,
    .destnik,
    .karavan {
        margin:0 20px 0 0;
    }
    .odstavec {
        margin: 20px 0 0 0;
        width: 200px;
    }       
}

@media screen and (min-width: 1100px)
{
    .obrazovka {
        width: 1100px;
        border:2px solid #d8d4d4;
        margin-left: 20px;
    }
    .traveler {
        width: 430px;
        height: auto;
        margin-right: 110px;
    }
    .hlavicka {
        display:flex;
        flex-direction: row-reverse;
        margin-top: 60px;
    }

    .uvod{
        text-align: left;
        width: 560px;
        padding-left:80px
    }

    
    .carka,
    .dobrodruzstvi {
        margin-left: 0;
    }

    .pohoda{
        margin-right: 65px;
    }

    .odstavec1 {
        margin-left: 0;
        margin-right: 65px;
    }

    .tlacitko{
        text-align: center;
    }

    .obsah1{
        display: flex;
        flex-direction: row-reverse;
    }

    .obsah2 {
        display: flex;
    }

    .podobsah1 {
        text-align: left;
        width: 430px;  
    }

    .nadpis2 {
        margin-top: 120px;
        margin-right: 80px;
    }
    .odstavec2 {
        margin-right: 60px;
        margin-left: 0;
    }

    .seznam2 {
        margin: 80px 60px 80px 80px;
        width: 590px;
        
    }
    .obdelnik {
        width:170px;
    }

    .odstavec {
        width: 140px;
    }
    .mapa {
        margin-left: 0;
    }

    .nadpis3 {
        margin-top: 0;
    }

    .odstavec3{
        margin: 0;
    }

    .podobsah2 {
        margin-top: 40px;
        margin-left: 80px;
        width: 370px;
        text-align: left;
    }

    
}