html {
    box-sizing: border-box;
}
 
body {
    height: 1600px;
    width: 500px;
}

.traveler {
    width: 350px;
    height: 290px;
    margin: 60px 74px 40px 75px;  
}

.nadpis {
margin: 0 153px 40px 153px;
font-family: mo;
}

.uvod {
    text-align: center;
}
.tlacitko {
    display: block;
    padding: 10px 0 10px 0;
    border-radius: 20px;
 }

 .dobrodruzstvi {
    background-color: #407BFF;
    color: white;
    margin: 0 152px 0 152px;
    
 }

 .pohoda {
    background-color: #8B8B8B;
    color: white;
    margin: 10px 140px 0 140px;
 }